<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="it/eng/asset/resources/jdbc.properties" />

	<typeAliases>
		<typeAlias type="it.eng.asset.bean.PublicService" alias="PublicService"></typeAlias>
		<typeAlias type="it.eng.asset.bean.LocalService" alias="LocalService"></typeAlias>
		<typeAlias type="it.eng.asset.bean.ServiceAssets" alias="ServiceAssets"></typeAlias>
		<typeAlias type="it.eng.asset.bean.GenericService" alias="GenericService"></typeAlias>
		<typeAlias type="it.eng.asset.bean.AssetExtended" alias="AssetExtended"></typeAlias>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
				<property name="poolPingQuery" value="SELECT idLocalService FROM localservice" />
              	<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="it/eng/asset/resources/Mapper.xml" />
	</mappers>
</configuration>