<div ng-include="'pages/notification.html'"></div>
<div id="owners-container">
    <div ng-include="'pages/mainMenu.html'"></div>
    <div id="panel-container" class="panel panel-default panel-height">
        <div id="owner-detail">
            <div class="row-fluid">
                <div class="cam-tree-container">
                    <div style="margin: 10px 10px 30px 0; padding: 10px; background-color: #EEEEEE; border-radius: 5px; font: 12px Tahoma;">
                        <span><b>Domains</b></span>
                    </div>
                    <div id="newClass" style="margin: -30px 10px 20px 0; padding: 10px;  border-radius: 5px;">
                        <div class="row-fluid">
                            <button type="button" data-toggle="tooltip" title="New Domain"
                                    class="cam-btn-add-container float-left"
                                    style="margin-top: 0px; margin-right: 20px;"
                                    ng-click="openPanel()">
                                <i class="fa fa-plus"/> New Domain
                            </button>
                        </div>
                    </div>
                    <div id="button-tree-controllers">
                        <button type="button" class="button-no-border btn-mini" data-toggle="tooltip" title="Expand"
                                ng-click="expandAllTreeNodes()">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button-no-border btn-mini" data-toggle="tooltip" title="Collapse"
                                ng-click="collapseAllTreeNodes()">
                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="tree-nodes-container"
                         data-angular-treeview="true"
                         data-tree-model="ownersList"
                         data-node-id="classId"
                         data-node-label="name"
                         data-node-children="children"
                         data-tree-id='classTreeId'>
                    </div>
                </div>
                <div id="owner-table" class="cam-table-container">
                    <table asset-table="ownerOverrideOptions" aa-data="ownersList"
                           ao-column-defs="ownerColumnDefs" class="cam-data-table table">
                        <thead>
                        <tr>
                            <th style="width: 400px">Name</th>
                            <th style="width: 100px">Action</th>
                        </tr>
                        </thead>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
</div>