<div id="toaster-info">
    <toaster-container toaster-options="
    {'time-out':{ 'toast-warning': 10, 'toast-error': 0 } }">
    </toaster-container>
</div>
<div id="panel-container" class="panel panel-default panel-height">
    <div class="panel-body">
        <div class="row-fluid">
            <div class="cam-tree-container">
                <div
                        style="margin: 10px 10px 30px 0; padding: 10px; background-color: #EEEEEE; border-radius: 5px; font: 12px Tahoma;">
                    <span><b>Asset Classes</b></span>
                </div>
                <div id="newClass" style="margin: -30px 10px 40px 0; padding: 10px;  border-radius: 5px;">

                    <button type="button" data-toggle="tooltip" title="New Class"
                            class="cam-btn-add-container float-left"
                            ng-click="openNewClassPanel()">
                        <i class="fa fa-plus"/> New Class
                    </button>
                </div>

                <div id="button-tree-controllers">
                    <button type="button" class="button-no-border btn-mini" data-toggle="tooltip" title="Expand"
                            ng-click="expandAllTreeNodes()">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </button>

                    <button type="button" class="button-no-border btn-mini" data-toggle="tooltip" title="Collapse"
                            ng-click="collapseAllTreeNodes()">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </button>

                </div>
                <div data-angular-treeview="true"
                     data-tree-model="classList"
                     data-node-id="classId"
                     data-node-label="className"
                     data-node-children="children"
                     data-tree-id='classTreeId'
                >
                </div>


            </div>

            <div name="asset-table-container" class="cam-table-container">
                <div>
                    <div
                            style="margin: 10px 10px 30px 0; padding: 10px; background-color: #EEEEEE; border-radius: 5px; font: 12px Tahoma;">
                        <span><b>Class</b> : {{currentNode.className}}</span>
                    </div>

                    <div id="newAssetModal" style="margin: -30px 10px 40px 0; padding: 10px;  border-radius: 5px;">

                        <button type="button" data-toggle="tooltip" title="New Asset"
                                class="cam-btn-add-container  float-left"
                                ng-click="openNewAssetModelPanel()" ng-show="newAssetVisible">
                            <i class="fa fa-plus" data-toggle="modal" data-target="#newAttributeLabel"/> New Asset
                        </button>
                        <button type="button" data-toggle="tooltip" title="Owners"
                                class="cam-btn-add-container float-left"
                                ng-click="" ng-disabled = "true">
                            <i class="fa fa-user"/> Domains
                        </button>

                    </div>
                    <table asset-table="overrideOptions" aa-data="assetList"
                           ao-column-defs="columnDefs" class="cam-data-table" class="table">
                        <thead>
                        <tr>
                            <th style="width: 170px">Asset</th>
                            <th style="width: 170px">Class</th>
                            <th style="width: 175px">Domain</th>
                            <th style="width: 150px">Created</th>
                            <th style="width: 168px">Action</th>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>

        </div>


    </div>
</div>


