<!-- <div class="row"> -->
<!--     <div class="col-md-6 col-md-offset-3"> -->
<!--         <h4>Forecast by City</h4> -->
<!--         <div class="form-group"> -->
<!--             <input type="text" ng-model="city" class="form-control" /> -->
<!--         </div> -->
<!--         <a href="#/forecast" class="btn btn-primary">Get Forecast</a> -->
<!--     </div> -->
<!-- </div> -->

<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
     
    $('body').click(function () {
                $('#contextMenu').hide();
            });
});
   
</script>

<div class="row-fluid">
	<div class="cam-tree-container">
		<div
			style="margin: 10px 10px 30px 0; padding: 10px; background-color: #EEEEEE; border-radius: 5px; font: 12px Tahoma;">
			<span><b>Asset Classes</b></span>
		</div>
		<div data-angular-treeview="true" data-tree-model="classList"
			data-node-id="classId" data-node-label="className"
			data-node-children="children"></div>

          <button type="button" data-toggle="tooltip" title="New Class" class="cam-btn-add-container float-left"
                    ng-click="openNewClassPanel()">
                <i class="fa fa-plus" > New Class</i>
            </button>
	</div>
  <!-- <ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
        <li><a tabindex="-1" href="#">Create child</a></li>
        <li><a tabindex="-1" href="#">Move</a></li>
        <li><a tabindex="-1" href="#">Delete</a></li>      
   </ul>-->
    
   
	<div name="asset-table-container" class="cam-table-container">
		<div style="border-left: 0.1em solid #CCC; padding-left: 10px;">
		<div
			style="margin: 10px 0 30px 0; padding: 10px; background-color: #EEEEEE; border-radius: 5px; font: 12px Tahoma;">
			<span><b>Assets of class</b> : {{currentNode.className}}</span>
		</div>
			<table asset-table="overrideOptions" aa-data="assetList"
				ao-column-defs="columnDefs" class="cam-data-table" class="table">
				<thead>
					<tr>
						<th style="width: 170px">Asset</th>
						<!--<th style="width: 150px">Class</th>-->
						<th style="width: 170px">Model</th>
						<th style="width: 175px">Owner</th>
						<th style="width: 150px">Created</th>
						<th style="width: 168px">Actions</th>
					</tr>
				</thead>
			</table>
<!-- 			<div class="cam-btn-add-container"><input type="image" title="New Asset Model" src="img/plus.png"/></div> -->
          <div id="newAssetModal" ></div>
           <!--	<button type="button" data-toggle="tooltip" title="New Asset Model" class="cam-btn-add-container"><i class="fa fa-plus-circle" data-toggle="modal" data-target="#myModal"> New asset model</i></button>-->
            
            <button type="button" data-toggle="tooltip" title="New Asset Model" class="cam-btn-add-container"
                    ng-click="openNewAssetModelPanel()" ng-show="newAssetVisible">
                <i class="fa fa-plus" data-toggle="modal" data-target="#newAttributeLabel"> New Asset Model</i>
            </button>
            		</div>
	</div>
	
</div>

