<div class="navbar navbar" ng-controller="menuController">
    <nav class="navbar navbar-default navbar" role="navigation">
        <div class="container-fluid" id="navfluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">CAM</a>
            </div>
            <div class="collapse navbar-collapse" id="navigationbar">
                <ul class="nav navbar-nav" ng-if="loggedIn">
                    <li ng-class="activeMenuClass()"><a href="#/classes"><i class="fa fa-object-group" aria-hidden="true"></i>
                        Classes</a>
                    </li>
                    <li ng-class="activeMenuDomain()" ng-if="isAdmin()"><a href="#/domains">
                        <i class="fa fa-users" aria-hidden="true"></i> Domains</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!loggedIn"><a href="#/login" >Login</a></li>
                    <li ng-if="loggedIn" class="navbar-text">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span
                                popover-trigger="'mouseenter'" popover-placement="left"
                                uib-popover-template="'userPopupTemplate.html'"
                                popover-title="{{dynamicPopover.title}}">
                           {{ user.username }}
                          </span>

                    </li>
                    <li ng-if="loggedIn"><a href="#" ng-click="doLogout()"><i class="fa fa-sign-in" aria-hidden="true">
                    </i> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>