<div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  ng-click="closeCreateClassPanel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newClassLabel">{{title}}</h4>
      </div>
      <div class="modal-body">
          <div class="row-fluid"><label>Class Name:</label> <input class="form-control" type="text" ng-model="newClass.name" ng-readonly="isNewClassNameReadonly"></input></div>
          <div class="row-fluid"><label>Parent Name:</label>
            <!--  <input class="form-control" type="text" ng-model="newRelationship.referredName"></input>-->
             <!--<select ng-model="newRelationship.referredName" class="form-control" ng-click="loadReferredAssets" ng-options="asset.normalizedName as asset.normalizedName for asset in referredAssetList">
              </select>    -->
              
               <select ng-model="newClass.parentName" ng-options="o.className as o.className for o in select.options" lazy-load-classes-options="" data-options="select.options" class="form-control"
                       ng-disabled="isParentNameReadonly">
                   <option value=""> {{newClass.parentName}} </option>
              </select>
               
    </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-mini" ng-click="closeCreateClassPanel()">Close</button>
        <button type="button" class="btn btn-mini-primary" ng-click="saveNewClass()">Save changes</button>
      </div>
    </div>
</div>
