<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="closePanel()">
                <i aria-hidden="true" class="fa fa-remove cam-table-button"></i></button>
            <h4 class="modal-title" id="newRelationshipLabel">{{panelTitle}}</h4>
        </div>
        <form name="domainForm" ng-submit="" style="border:none;">
            <div class="modal-body">
                <div class="row-fluid"><label>Domain Name</label>
                    <input class="form-control" type="text"
                     ng-model="domain.name" autocomplete="off" name="name"
                           ng-pattern="regexPattern"
                           uib-typeahead="domain as domain.name for domain in ownersList
                            | filter:$viewValue | limitTo:8">
                    </input>
                    <span  ng-show="domainForm.name.$error.pattern">{{invalidNameMsg}}</span>
                    <span  ng-show="invalidName">{{nameIsMandatory}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="fa fa-close btn btn-mini" ng-click="closePanel()"> Cancel</button>
                <button type="button" class="fa fa-check btn btn-mini btn-primary" ng-click="openConfirmPanel()"> Save</button>
            </div>
        </form>
    </div>
</div>

