<div class="modal-dialog">
     <dialogMgr></dialogMgr>
     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  ng-click="closeNewRelationshipPanel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newRelationshipLabel">{{relPanelTitle}}</h4>
      </div>
          <form name="newRelForm" ng-submit="" style="border:none;">
      <div class="modal-body">
          <div class="row-fluid"><label>Relationship Name:</label> <input class="form-control" type="text" ng-model="newRelationship.name" name="name"  ng-pattern="regexPattern" ng-readonly="isEditing"></input>
            <span  ng-show="newRelForm.name.$error.pattern">{{invalidNameMsg}}</span>    
            <span  ng-show="invalidName">{{nameIsMandatory}}</span></div>
          <div class="row-fluid"><label>Referred Asset:</label>
            <!--  <input class="form-control" type="text" ng-model="newRelationship.referredName"></input>-->
             <!--<select ng-model="newRelationship.referredName" class="form-control" ng-click="loadReferredAssets" ng-options="asset.normalizedName as asset.normalizedName for asset in referredAssetList">
              </select>    -->
              
               <select ng-model="newRelationship.referredName" ng-options="o.normalizedName as o.normalizedName for o in select.options" lazy-load-options="newRelationship.dialogMgr" data-options="select.options" class="form-control">
                   <option value=""> {{newRelationship.referredName}} </option>
    </select>
               
    </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-mini" ng-click="closeNewRelationshipPanel()">Cancel</button>
        <button type="button" class="btn btn-mini" ng-click="saveNewRelationship()">Save</button>
      </div>
</form>
    </div>
</div>

