<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />
    <!--<property name="CATALINA_BASE" value="/tmp/mseelogs"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GENERAL_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${CATALINA_BASE}/logs/fi-marketplace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${CATALINA_BASE}/logs/fi-marketplace.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- LOGGERS -->
    <logger name="org.fiware" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="GENERAL_APPENDER"/>
    </root>
</configuration>
